.content{
  width: 99vw;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5vh 0;
  margin: 5vh 0;
}

.content-item{
	width: 30vw;
	height: 28vh;
	display: flex;
	background-color: #FBE4D6;
	border: 5px solid #161179;
	border-radius: 25px;
	top: 1vh;
	opacity: 75%;
	justify-content: center;
	align-items: center;
	background-image: url("https://images.unsplash.com/photo-1597290282695-edc43d0e7129?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8YmFyfGVufDB8fDB8fHww");
  background-repeat: no-repeat;
	background-size: cover;
}
.content-item:hover{
	opacity: 100%;
	cursor: pointer;
}

@media only screen and (max-width: 1400px) {
	.content-item{
		width: 45vw;
		height: 28vh;
  }

}

@media only screen and (max-width: 700px) {
	.container{
	height: 100%;
	}
	.content{
	width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
	.content-item{
		width: 95vw;
		height: 35vh;
  }

}
