*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #FFFFFF;
}
.container{
	width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(#0C0950, #261FB3);
}
.header{
	width: 100%;
	height: 5vw;
	display: flex;
	position: fixed;
	text-align: center;
	justify-content: center;
	align-items: center;
	z-index: 1;
	background-image: linear-gradient(#261FB3, #0C0950);
}
.text{
	padding: auto;
	color: #FFFFFF;
	font-family: Courier New;
	position: absolute;

}
.footer{
	width: 100vw;
	height: 5vw;
	position: fixed;
	margin: 0;
	margin-bottom: 0;
	bottom: 0;
	text-align: center;
	background-image: linear-gradient(#0C0950, #261FB3);
}
.btn{
	width: 18vw;
	height: 100%;
	color: #FFFFFF;
	font-family: Courier New;
	font-size: 1rem;
	opacity: 75%;
	background: none;
	border: none;
	margin-bottom: none;
	text-align: center;
	font-weight: bold;
	transition-delay: linear 0.1s;
	background-image: linear-gradient(#0C0950, #261FB3);
	border: 2px solid #0C0950;
}
.btn:hover{
	opacity: 100%;
	cursor: pointer;
	background-image: none;
	background-color: #EAE4D5;
	color: #0C0950;
	border-bottom: 2px solid #0C0950;
	-webkit-transition: background-color 1000ms linear;
  	-ms-transition: background-color 1000ms linear;
  	transition: background-color 1000ms linear;
	border: 4px solid #0C0950;
	font-size: 1.25rem;
}
@media only screen and (max-width: 700px) {
	.container{
	height: 100vh;
}
	.header{
	width: 100vw;
	height: 10vw;
}
	.footer{
	width: 100vw;
	height: 5vh;
	margin: auto;
}
	.btn{
	font-size: 0.75rem;
	}
	.btn:hover{
	font-size: 0.85rem;
}
}
